header{
    display: flex;
    margin: 0;
    align-items: center;
    padding: 1em;
    background-color: #292826;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-right: 10em;
}
 